[Unit]
Description=/srv/http/redirector
After=network.target
Requires=hgweb.service

[Service]
PrivateTmp=true
ExecStart=/usr/bin/website redirector
KillSignal=SIGINT
Restart=always

[Install]
WantedBy=multi-user.target
