[Unit]
Description=/srv/http/pandabin
After=network.target

[Service]
PrivateTmp=true
ExecStart=/usr/bin/website pandabin
KillSignal=SIGINT
Restart=always

[Install]
WantedBy=multi-user.target
